{% extends "base.html" %}

{% block title %}
Nuevo Grado
{% endblock %}

{% block content %}

<h1 class="page-title">
    Nuevo Grado
</h1>

<form method="POST" class="auth-form">

    <input
        type="text"
        name="nombre"
        placeholder="Ej: 1° A"
        required
    >

    <select
        name="escuela_id"
        required
    >

        <option value="">
            Seleccionar escuela
        </option>

        {% for escuela in escuelas %}

        <option value="{{ escuela.id }}">
            {{ escuela.nombre }}
        </option>

        {% endfor %}

    </select>

    <button type="submit">
        Crear Grado
    </button>

</form>

{% endblock %}